# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
# Ignore user uploads in staging
/public/uploads
# Ignore ide project files
/.idea
# We don't want our db settings on the internet
/config/database.yml
# Testfiles
/test

