<h2 class="text-center">Forgot your password, really?</h2>
<div class="col-md-6 col-md-offset-3 form-signin">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do
  |f| %>
  <%= f.email_field :email, :autofocus => true, :class => "form-control" %>

  <%= f.submit "Send me reset password instructions", :class => 'btn btn-lg btn-primary btn-block' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>