body {
  padding-top: 35px;
  background-image: url('images/gangster-may-new-tutorial-tv-scan-lines-added-135842.jpg');
  font-family: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  color: #696969;
}

.container, .navbar{
  background-color: #fafafa;
}

p{
  font-size: 85%;
}

h1{
  padding: 20px 15px 6px;
  margin: 15px 0px 0px;
}

h2{
  border-bottom: 1px solid #ccc;
  padding: 5px 5px 5px 20px;
}

.filterbar{
  padding: 5px 10px 5px;
  margin: 0 0 0;
  border-top: 1px dashed #cfcfcf;
}
.nav-pills > li > a{
  color: #696969;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border-left: 4px solid #afafaf;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
}

.nav-pills > li.active > a{
  background-color: #FFF;
  color: #696969;
  border-left: 3px solid #000066;
}

.nav-pills > li > a:hover{
  background-color: #FFF;
  border-left: 4px solid #000066;
}

.nav-left{
  padding: 0;
  margin: 0 0 0;
  border-right: 1px solid #cfcfcf;
}

.sidebar{
  margin-top: 15px;
}
.content{
  background-color: #FFFFFF;
  margin: 0;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border: 1px solid #cfcfcf;
  min-height:600px;
}

.nopadding{
  padding: 0;
}

.nomargin{
  margin: 0;
}

.footer{
  text-align: center;
  border-top: 1px solid #aeaeae;
  padding: 10px;
  margin-top: 10px;
}

.main{
  padding: 0;
  margin: 0;
}
/*
 * List Animations
 */

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.my-repeat-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.my-repeat-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.my-repeat-animation.ng-leave {
  left:0;
  opacity:1;
}
.my-repeat-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.my-repeat-animation.ng-move {
  opacity:0.5;
}
.my-repeat-animation.ng-move.ng-move-active {
  opacity:1;
}