<h1 class="page-header">Dashboard</h1>
<h2 class="lead">Welcome {{ currentUser.user.email }}</h2>


<h2 class="sub-header">News</h2>
<h2 class="sub-header">Invoices</h2>
<div ng-controller="InvoiceCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Invoices</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th>File</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in invoices.invoices" class="{{ invoice.status }}">
          <td>{{ invoice.id }}</td>
          <td><a href="">{{ invoice.file }}</a></td>
          <td>{{ invoice.date }}</td>
          <td>{{ invoice.status }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>