<h1 class="page-header">Dashboard</h1>
<h2 class="lead">Welcome {{ currentUser.email }}</h2>
<h2 class="sub-header">News</h2>

<h2 class="sub-header">Notifications</h2>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Upload files</div>
    <div class="panel-body">
      <div class="well" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
           ng-show="dropSupported">Drop files here.
      </div>
      <div ng-file-drop-available="dropSupported=true"
           ng-show="!dropSupported">HTML5 Drop File is not supported! <br>Please use Chrome, Chromium or firefox.<br><input class="btn btn-primary" type="file" ng-file-select="onFileSelect($files)" multiple>
      </div>
      <div class="col-md-6">
        <ol>
          <li ng-repeat="bar in bars">
            <p>{{bar.name}}:
              <progressbar value="bar.value" name="bar.name" max="100" type="bar.type">{{bar.value}}%</progressbar>
            </p>
          </li>
        </ol>
      </div>
    </div>

    <div class="panel-footer">
      <button class="btn btn-primary" ng-click="upload.abort()">Cancel Upload</button>
    </div>
  </div>
</div>