<!DOCTYPE html>
<html ng-app="ControlPanel">
<head>
  <title>ControlPanel</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Digital AD<!-- <img src="assets/images/DigitalAd_Logo_FC_noback.png"> --></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Settings <b
                  class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li class="divider"></li>
            <li><a href="#/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li class="divider"></li>
            <li><a href="users/sign_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/adminDashboard"><span class="glyphicon glyphicon-dashboard"> Dashboard</a></li>
            <li><a href="#/adminNews"><span class="glyphicon glyphicon-comment"> News</a></li>
            <li><a href="#/adminUsers"><span class="glyphicon glyphicon-user"> Users</a></li>
            <li><a href="#/adminPlaylists"><span class="glyphicon glyphicon-list-alt"> Playlists</a></li>
            <li><a href="#/adminDevices"><span class="glyphicon glyphicon-hdd"> Devices</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-2 nav-left">
      <ul class="nav nav-pills nav-stacked sidebar">
        <li class="active"><a href="#/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
        <li><a href="#/files"><span class="glyphicon glyphicon-book"></span> My files</a></li>
        <li><a href="#/advertisments"><span class="glyphicon glyphicon-eye-open"></span> Advertisments</a></li>
        <li><a href="#/playlists"><span class="glyphicon glyphicon-list-alt"></span> Playlists</a></li>
        <li><a href="#/devices"><span class="glyphicon glyphicon-hdd"></span> Devices</a></li>
      </ul>
    </div>
    <div class="col-sm-10 main" ng-view>
      <%= yield %>
    </div>
  </div>
</div>
<div class="container">
  <div class="footer">
    Copyright Digital AD Control Panel 2014
    <br>Lorem ipsum dolor sit amet, harum invenire prodesset te cum, constituto temporibus ei est, ut eruditi
    iudicabit vel.
  </div>
</div>
</body>
</html>
